.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: darkred;
}

.title {
  font-family: 'Signika Negative';
  color: blanchedalmond;
  width: 9 rem;
  height: 2rem;
  margin-left: 3rem;
}

.btn {
  font-family: 'Signika Negative';
  color: rgb(229, 147, 25);
  width: 9 rem;
  height: 2rem;
  margin-left: 32rem;
}

.navlogo {

  width: 9 rem;
  height: 5rem;
  margin-top: -1rem;
}

.hero {
  font-family: 'Signika Negative';
  color: blanchedalmond;
  width: 9 rem;
  height: 2rem;
  margin: 1rem;
}

.heropic {

  width: 80 rem;
  height: 20rem;
  margin: 1rem;
}







